@charset "UTF-8";
/* CSS Document */




header {
	background-color:#FAFAE0;
	height:140px;
	width:100%;
	margin-top:2rem;
}

.logo-container {
	display:block;
	margin-top:-115px;
	width:100%;	
	max-width:1200px;
}

.logo-container img {
	height:95px;
	width:auto;
	margin:3px 10px -3px;
}

.wrapper {
	margin:0 auto;
	width:100%;
	max-width:1200px;
}
	

	.left {
		position: absolute;
		top:70px;
		text-align:left;
		right:-2rem;
		font-size: 3rem;
		font-family: 'Ribeye', cursive;
		color:#4C3010;
		display:block;
		width:45%;
	}
		
	.right {
		position:absolute;
		top: 70px;
		text-align:right;
		left:-2rem;
		font-size: 3rem;
		font-family: 'Ribeye', cursive;
		color:#4C3010;
		display:block;
		width:45%;
	}

	.logo-container {
		display:block;
		text-align:center;
		margin-top:-125px;
		position:absolute;
	}
	
	
	
	.nav {
		width:100%;
		position:absolute;
		text-align:center;
		font-family:'Ribeye', cursive;
		font-size:1.2rem;
		color:#4C3010;
		
	}
	
	.nav ul {
		display:inline-block;
	}
	
	
	
	.nav-top{
		max-height:none;
		max-width:1200px;
		top:165px;
	}
	
	.nav li {
		display:inline-block;
	}
	
	/* .nav ul li:nth-child(2) {
		margin-right:3rem;
	}
	
	.nav ul li:nth-child(3) {
		margin-left:3rem;
	} */ 
	
	
	.nav a, 
	.nav a:link,
	.nav a:visited{
		display: inline-block;
		padding: .8rem;
		width:5.8rem;
		color:#white;
		border:none;
		background:none;
	}
	
	.nav a:hover,
	.nav a:focus,
	.nav a:active{
		background:none;
	}
