<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<link href="../css/typography.css" rel="stylesheet"> 
<link href="../css/header.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Ribeye' rel='stylesheet' type='text/css'>
</head>

<body>


<header>

<div class="wrapper">
	<header>
		<div class="left">Cupcake</div>
		<div class="right">Castle</div>
	</header>
	
<div class="logo-container"> <img src="../images/logo-placeholder.jpg" alt="logo"> </div>
	

<nav class="nav nav-top">
	<ul>
		<li><a href="about.html">About</a></li>
		<li><a href="gallery.html">Gallery</a></li>
		<li><a href="events.html">Events</a></li>
		<li><a href="join.html">Join Us</a></li>
	</ul>
</nav>

</header>


{{content}}





</body>
</html>
